- @title = @user

#grid

  != list("Recently posted by #{@user}", @posts_authored)
  != list("Recently voted by #{@user}",  @posts_voted)

  .list.just_added
    %h2 Profile information
    %ul
      %li
        %span.votes= @posts_authored.size
        Posts submitted
      %li
        %span.votes= @posts_voted.size
        Votes issued
      %li
        %span.votes= @user.votes_received
        Votes received
