- @title = @post

#post
  - if logged_in?
    != vote_post(@post)

  %h1= @post

  %p.url
    %a(href=@url title=@url)= @url

  %p
    Submitted by
    %a(href="/users/#{@author}") #{@author}
    on
    %a(href="/?date=#{@post.date}") #{@post.date}

  %p
    %span.votes= @post.votes
    votes
