#grid
  .list
    %h2= @post
    %ul
      %li
        Submitted by
        %a(href="/users/#{@author}") #{@author}
        on
        %a(href="/?date=#{@post.date}") #{@post.date}
      %li
        %span.votes= @post.votes
        - if logged_in?
          != vote_post(@post)
        %a(href=@url title=@url) #{@url[0, 35]}...
