.list{:class => title.downcase.gsub(" ", "_")}
  %h2= title

  - if posts.any?
    %ul
      - posts.each do |post|
        %li
          %span.votes= post.votes
          - if logged_in?
            != vote_post(post)
          != link_to_post post
  - else
    %p
      = message
