!!! Strict
%html
  %head
    %title= [@title, "News – A Monk application"].compact.join(" – ")
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")/
    %link(rel="stylesheet" href="/css/reset.css" type="text/css")/
    %link(rel="stylesheet" href="/css/main.css" type="text/css")/
  %body(class="#{logged_in? ? "logged_in" : nil}")
    #header
      #navigation

        %ul
          - if logged_in?
            %li
              Logged in as #{current_user}
            %li
              %a(href="/") Home
            %li
              %a(href="/users/#{current_user}") Profile
            %li
              %a(href="/posts/new") Submit a link
            %li
              %a(href="/logout") Logout
          - else
            %li
              %a(href="/") Home
            %li
              %a(href="/posts/new") Submit a link
            %li
              %a(href="/signup") Sign up
            %li
              %a(href="/login") Login

    #content

      != yield
